<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="/css/chefForm.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head> 
	<body>
		<h1>AGGIUNGI UNO CHEF</h1>
		<div id="sfondo">
		<div id="contenuto">
			<form th:action="@{/admin/chef}" method="POST" th:object="${chef}" enctype="multipart/form-data">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
				<input type="text" th:field="*{nome}" placeholder="Nome..."/>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>

				<input type="text" th:field="*{cognome}" placeholder="Cognome..."/>
				<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>

				<input type="text" th:field="*{nazionalita}" placeholder="Nazionalità..."/>
				<span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span>

				<div id="immC">
				<label>Immagine Chef: </label>
				<div style="margin-top: 1.2%;"><input type="file" name="image" accept="image/png,image/jpeg,image/jpg"/></div>
				</div>
		
				<div style="margin-top: 3%;">
					<span><button type="submit">Conferma</button></span>
				</div>
			</form>
		</div>
		</div>
	</body>
</html>