<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	</head>
<body>
<h1>Modifica lo Chef</h1>

<form th:action="@{'/admin/chefMod' + '/' + ${chef.id}}" method="POST" th:object="${chef}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>	
	<div>
		<span>Nome:</span>
		<span><input type="text" th:field="*{nome}" th:value="chef.nome"/></span>
		<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
	</div>
	<div>
		<span>Cognome:</span>
		<span><input type="text" th:field="*{cognome}" th:value="chef.cognome"/></span>
		<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
	</div>
	
	<div>
		<span>Nazionalità:</span>
		<span><input type="text" th:field="*{nazionalita}" th:value="chef.nazionalita"/></span>
		<span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span>
	</div>
	
	<div>
		<div><h4>Lista buffets per questo chef (lo chef di un buffet è modificabile dal buffet stesso)</h4></div>
		<ul>
			<li th:each="buffet : ${chef.buffet}">
				<p th:text="${buffet.nome}">buffet</p>
			</li>
		</ul>
	</div>
	<div>
		<span><button type="submit">Conferma</button></span>
	</div>
</form>
</body>
</html>