<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/css/chefsAdmin.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>    
<body>
	<div id="logout">
		<div style="margin-right: 3%;"><a href="/admin/home">HOME</a></div>
		<div style="margin-right: 3%;"><a th:href="@{/admin/chefForm}">AGGIUNGI</a></div>
		<div><a th:href="@{/logout}" style="color: orangered;">LOGOUT</a></div>
	</div>
	<h1>CHEF</h1>
	<ul>
	<li th:each="chef : ${chefs}">
		<div id="chefs">
			<h3 th:text="${chef.nome}+' '+${chef.cognome}">nome chef</h3>
			<span style="color: aliceblue;">Nazionalità: </span>
			<span th:text="${chef.nazionalita}" style="color: orangered;">nazionalità chef</span>
			<h4>Buffet</h4>
			<ul>
				<li th:each="buffet : ${chef.buffet}">
					<p th:text="${buffet.nome}"></p>
				</li>
			</ul>
			<div id="container">
				<div style="margin-right: 3%;"><a th:href="@{'/admin/cancellaChef' + '/' + ${chef.id}}" onclick="return confirm('Sei sicuro di eliminare questo chef. RICORDA: cancellerai anche i relativi buffet!?')">CANCELLA</a></div>
				<div><a th:href="@{'/admin/modificaChef' + '/' + ${chef.id}}">MODIFICA</a></div>
			</div>
		</div>
	</li>
	</ul>
</body>
</html>