<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="/css/chefFormMod.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
	<h1>MODIFICA LO CHEF</h1>

	<form th:action="@{'/admin/chefMod' + '/' + ${chef.id}}" method="POST" th:object="${chef}" enctype="multipart/form-data">
	<div id="sfondo">
	<div id="contenuto">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>	
		<input type="text" th:field="*{nome}" placeholder="Nome..." th:value="${chef.nome}"/>

		<input type="text" th:field="*{cognome}" placeholder="Cognome..." th:value="${chef.cognome}"/>

		<input type="text" th:field="*{nazionalita}" placeholder="Nazionalità..." th:value="${chef.nazionalita}"/>
		<!--<span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span>-->
		
		<div id="immC">
			<label>Immagine Chef: </label>
			<div style="margin-top: 1.2%;"><input type="file" name="image" accept="image/png,image/jpeg,image/jpg" th:value="${chef.img}"/></div>
		</div>
		<div style="margin-top: 3%;">
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
	</div>
	<div id="home"><a href="/admin/home">HOME</a></div>
	</div>
</body>
</html>
