<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>  
<body>
	<h1>AMMINISTRAZIONE</h1>
	<p>qui puoi modificare contenuti del sistema catering.</p>
				<div >
				<ul>
					<li><a th:href="@{/admin/chefs}">Chef</a></li>
					<div><a th:href="@{/admin/chefForm}">aggiungi nuovo chef</a></div>
					<li><a th:href="@{/admin/buffets}">Buffet</a></li>
					<div><a th:href="@{/admin/buffetForm}">aggiungi nuovo buffet</a></div>
					<li><a th:href="@{/admin/piatti}">Piatti</a></li>
					<div><a th:href="@{/admin/piattoForm}">aggiungi nuovo piatto</a></div>
					<li><a th:href="@{/admin/ingredienti}">Ingredienti</a></li>
					<div><a th:href="@{/admin/ingredienteForm}">aggiungi nuovo ingrediente</a></div>
				</ul>
			</div>
			
				<div>
   	</div>
	
</body>
</html>