<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="/css/ingredienteForm.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head> 
<body>
	<h1>AGGIUNGI UN INGREDIENTE</h1>
	<div id="sfondo">
	<div id="contenuto">

	<form th:action="@{/admin/ingrediente}" method="POST" th:object="${ingrediente}" enctype="multipart/form-data">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<input type="text" th:field="*{nome}" placeholder="Nome..."/>
		
		<input type="text" th:field="*{descrizione}" placeholder="Descrizione..."/>
		
		<input type="text" th:field="*{origine}" placeholder="Origine..."/>
		<!--<span th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></span>-->

		<div id="immC">
		<label>Immagine Ingrediente: </label>
		<div style="margin-top: 1.2%;"><input type="file" name="image" accept="image/png,image/jpeg,image/jpg"/></div>
		</div>
		<div style="margin-top: 3%;">
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
	</div>
	</div>

</body>
</html>