<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
<h1>Modifica l'ingrediente</h1>

<form th:action="@{'/admin/ingredienteMod' + '/' + ${ingrediente.id}}" method="POST" th:object="${ingrediente}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>	
	<div>
		<span>Nome:</span>
		<span><input type="text" th:field="*{nome}" th:value="ingrediente.nome"/></span>
		<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
	</div>
	<div>
		<span>Descrizione:</span>
		<span><input type="text" th:field="*{descrizione}" th:value="ingrediente.descrizione"/></span>
		<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
	</div>
	
	</div>
		<div>
		<span>Link immagine ingrediente:</span>
		<span><input type="text" th:field="*{img}"/></span>
	</div>
	
	<div>
		<span>Origine:</span>
		<span><input type="text" th:field="*{origine}" th:value="ingrediente.origine"/></span>
		<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{origine}"></span>
	</div>
		
	
	<div>
		<span><button type="submit">Conferma</button></span>
	</div>
</form>
</body>
</html>