<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/css/ingAdmin.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>    
<body>
	<div id="logout">
		<div style="margin-right: 3%;"><a href="/admin/home">HOME</a></div>
		<div style="margin-right: 3%;"><a th:href="@{/admin/ingredienteForm}">AGGIUNGI</a></div>
		<div><a th:href="@{/logout}" style="color: orangered;">LOGOUT</a></div>
	</div>
	<h1>INGREDIENTI</h1>
	<div th:if="${condizione}"><h2 style="color: aliceblue; text-align:center;">Attenzione! Non puoi cancellare questo ingrediente, è presente in un piatto.</h2></div>
	<ul>
	<li th:each="ing : ${ingredienti}">
		<div id="ing">
			<h3 th:text="${ing.nome}">nome ingrediente</h3>
			<p th:text="${ing.descrizione}">descrizione ingrediente</p>
			<div>
				<span style="color: orangered;">Origine: </span>
				<span th:text="${ing.origine}" style="color: aliceblue;">origine ingrediente</span>
			</div>
			<div>
				<img th:src="${ing.img}" alt="" style="width: 49%; height: 60%; margin-top: 2%;">
			</div>
			<div id="container">
				<div style="margin-right: 3%;"><a th:href="@{'/admin/cancellaIngrediente' + '/' + ${ing.id}}" onclick="return confirm('Sei sicuro di eliminare questo ingrediente?')">CANCELLA</a></div>
				<div><a th:href="@{'/admin/modificaIngrediente' + '/' + ${ing.id}}">MODIFICA</a></div>
			</div>
		</div>
	</li>
	</ul>
</body>
</html>