<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="/css/piattoForm.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head> 
<body>
	<h1>AGGIUNGI UN PIATTO</h1>
	<div id="sfondo">
	<div id="contenuto">

	<form th:action="@{/admin/piatto}" method="POST" th:object="${piatto}" enctype="multipart/form-data">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<input type="text" th:field="*{nome}" placeholder="Nome..."/>
		

		<input type="text" th:field="*{descrizione}" placeholder="Descrizione..."/>
		

		<div id="immC">
			<label>Immagine Piatto: </label>
			<div style="margin-top: 1.2%;"><input type="file" name="image" accept="image/png,image/jpeg,image/jpg"/></div>
		</div>

		<h4>Aggiungi ingredienti per questo nuovo piatto</h4>

		<div style="margin-top: 2%;">
			<ul>
				<li th:each="ing : ${ingredienti}">
					<input type="checkbox" th:field="*{ingredienti}" th:value="${ing.id}">
					<label th:text="${ing.nome}">ingrediente</label>
				</li>
			</ul>
		</div>
		<div style="margin-top: 3%;">
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</div>
<div id="home"><a href="/admin/home">HOME</a></div>
</div>
</body>
</html>