<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	</head>
<body>
<h1>Aggiungi un piatto</h1>

<form th:action="@{/admin/piatto}" method="POST" th:object="${piatto}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>	
	<div>
		<span>Nome:</span>
		<span><input type="text" th:field="*{nome}"/></span>
		<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
	</div>
	<div>
		<span>Descrizione:</span>
		<span><input type="text" th:field="*{descrizione}"/></span>
		<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
	</div>
	
	<div>
		<span>Link immagine piatto:</span>
		<span><input type="text" th:field="*{img}"/></span>
	</div>
	<div>
		<div><h4>Aggiungi ingredienti per questo nuovo piatto</h4></div>
		<ul>
			<li th:each="ingrediente : ${ingredienti}">
				<input type="checkbox" th:field="${piatto.ingredienti}" th:value="${ingrediente.id}">
				<label th:text="${ingrediente.nome}">ingrediente</label>
			</li>
		</ul>
	</div>
	<div>
		<span><button type="submit">Conferma</button></span>
	</div>
</form>
</body>
</html>