<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	</head>
<body>
	<div>
		<h4>Dettagli piatto</h4>
	</div>
	<div>
		<span th:text="${piatto.nome}">nome piatto</span>
   	</div>
	<div>
		<span th:text="${piatto.descrizione}">descrizione piatto</span>
   	</div>
	<div>
	<h4>Ingredienti di questo piatto:</h4>
	<ul>
	<li th:each="ingrediente : ${piatto.ingredienti}">
		<a th:href="@{'/admin/ingrediente' + '/' + ${ingrediente.id}}"
			th:text="${ingrediente.nome}">ingrediente1</a>
	</li>
	</ul>
	</div>
	<footer><a th:href="@{/admin/home}">Home</a></footer>
</body>
</html>