<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>    
    <body>
            <div class="class"><h1>Catering</h1></div>
            <div class="login"><button class="button">login</button></div>
            <div class="par"><p>Benvenuto, clicca su "continua" per scoprire informazioni relative a chef</p>
            <p>buffet e piatti.</p></div> 
            <div class="para"><a th:href="@{chefs}">Continua a navigare...</a></div>         
    </body>
</html>