<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div>
		<h4>Login</h4>
	</div>
	<form th:action="@{/login}" method="POST">
		<div>
			<div>
				<span>Username:</span>
				<span><input name="username" type="text" required /></span>
			</div>		
			<div>
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<span><button type="submit">Login</button></span>
			</div>
			
			<div>
				<a th:href="@{/register}">Registrati</a>
			</div>
		</div>
	</form>
</body>
</html>