body {
    background-color: black;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 30px;
    height: 69px;
    
}

.header-flex .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 30px;
    list-style-type: none;
}

header .nav {
    align-self: center;
    margin-top: -1%;
}

header .nav .dropdown ul {
    display: block;
    padding: 0;
    padding-top: 5px;
    position: absolute;
    /*width: 100%;*/
    opacity: 0;
}

header .nav .dropdown:hover > ul {
   opacity: 1;
}


footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 5%;
    margin-top: 10%;
    border-top: solid;
    border-color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 124%;
    
}

a:visited {
	text-decoration: none; 
	font-weight: bold;
}

a:hover {
	text-decoration: none; 
	color:orangered;
	font-weight: bold;
    cursor: pointer;
}

.sfondo {
    height: 159vh;
    background-size: cover;
    position: relative;
    background-image: url("/images/sfondoCater2.jpg");
}

p {
    color: aliceblue;
    font-size: medium;
    text-align: center;
}
.immHome {
    margin-top: 5%;
    text-align: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .immHome:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: orangered;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .immHome2 {
    margin-top: 5%;
    text-align: center;
    position: relative;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .immHome2:hover .overlay2 {
    opacity: 1;
  }
  
  .text2 {
    color: orangered;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h3{
      color: orangered;
      text-align: center;
  }