body {
    background-color: black;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 30px;
    height: 69px;
    
}

.header-flex .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 30px;
    list-style-type: none;
}

header .nav {
    align-self: center;
    margin-top: -1%;
}

header .nav .dropdown ul {
    display: block;
    padding: 0;
    padding-top: 5px;
    position: absolute;
    /*width: 100%;*/
    opacity: 0;
}

header .nav .dropdown:hover > ul {
   opacity: 1;
}


footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 5%;
    margin-top: 10%;
    border-top: solid;
    border-color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 124%;
    
}

a:visited {
	text-decoration: none; 
	font-weight: bold;
}

a:hover {
	text-decoration: none; 
	color:orangered;
	font-weight: bold;
    cursor: pointer;
}

.sfondo {
    height: 119vh;
    background-size: cover;
    position: relative;
    background-image: url("/images/ingredienteSfondo.jpg");
}

p {
    color: aliceblue;
    font-size: medium;
    text-align: center;
}

h3 {
    color: orangered;
    text-align: center;
    margin-top: 4%;
    font-size: 182%;
}

h4 {
    color: orangered;
    text-align: center;
    margin-top: 4%;
    font-size: 127%;
    border-top: solid;
    border-top-color: aliceblue;
    padding-top: 3%;
}