<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	</head>
<body>
	<div>
		<h4>Dettagli chef</h4>
	</div>
	<div>
		<span th:text="${chef.nome}">nome chef</span>
   	</div>
	<div>
		<span th:text="${chef.cognome}">cognome chef</span>
   	</div>
	<div>
		<span th:text="${chef.nazionalita}">nazionalità chef</span>
   	</div>
	<div><ul>
	<li th:each="buffet : ${chef.buffet}">
		<a th:href="@{'/user/buffet' + '/' + ${buffet.id}}"
			th:text="${buffet.nome}">buffet1</a>
	</li>
	</ul></div>
	<footer><a th:href="@{/user/home}">Home</a></footer>
</body>
</html>