<!--<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
        <link rel="stylesheet" href="/css/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>    
    <body>
    		<h1>Catering</h1>
    		<nav>
    		<ul>
    		    <li><a th:href="@{/user/chefs}">Chef</a>
    		    	<ul>
						<li th:each="chef : ${chefs}">
						<a th:href="@{'/user/chef' + '/' + ${chef.id}}" th:text="${chef.nome}">chef</a>
						</li>
					</ul>
				</li>
                <li><a th:href="@{/user/buffets}">Buffet</a>
                   	<ul>
						<li th:each="buffet : ${buffets}">
						<a th:href="@{'/user/buffet' + '/' + ${buffet.id}}" th:text="${buffet.nome}">buffet</a>
						</li>
					</ul>
                </li>
                <li><a th:href="@{/user/piatti}">Piatti</a>
                    <ul>
						<li th:each="piatto : ${piatti}">
						<a th:href="@{'/user/piatto' + '/' + ${piatto.id}}" th:text="${piatto.nome}">piatto</a>
						</li>
					</ul>
                </li>
                <li><a th:href="@{/user/ingredienti}">Ingredienti</a>
                    <ul>
						<li th:each="ingrediente : ${ingredienti}">
						<a th:href="@{'/user/ingrediente' + '/' + ${ingrediente.id}}" th:text="${ingrediente.nome}">ingrediente</a>
						</li>
					</ul>
                </li>
            </ul>
            </nav>    
    </body>
</html>-->


<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
        <link rel="stylesheet" href="home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>    
    <body>
		<div class="h"><h1>CATERING</h1>
			<div id="menu">
				<ul>
					<li><a th:href="@{/user/chefs}">Chef</a>
						<ul>
							<li th:each="chef : ${chefs}">
							<a th:href="@{'/user/chef' + '/' + ${chef.id}}" th:text="${chef.nome}">chef</a>
							</li>
						</ul>
					</li>
					<li><a th:href="@{/user/buffets}">Buffet</a>
						   <ul>
							<li th:each="buffet : ${buffets}">
							<a th:href="@{'/user/buffet' + '/' + ${buffet.id}}" th:text="${buffet.nome}">buffet</a>
							</li>
						</ul>
					</li>
					<li><a th:href="@{/user/piatti}">Piatti</a>
						<ul>
							<li th:each="piatto : ${piatto}">
							<a th:href="@{'/user/piatto' + '/' + ${piatto.id}}" th:text="${piatto.nome}">piatto</a>
							</li>
						</ul>
					</li>
					<li><a th:href="@{/user/ingredienti}">Ingredienti</a>
						<ul>
							<li th:each="ingrediente : ${ingredienti}">
							<a th:href="@{'/user/ingrediente' + '/' + ${ingrediente.id}}" th:text="${ingrediente.nome}">ingrediente</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
    </body>
</html>