<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	</head>
<body>
	<div>
		<h4>Dettagli piatto</h4>
	</div>
	<div>
		<span th:text="${piatto.nome}">nome piatto</span>
   	</div>
	<div>
		<span th:text="${piatto.descrizione}">nome piatto</span>
   	</div>
	<div><ul>
	<li th:each="ingrediente: ${piatto.ingredienti}">
		<a th:href="@{'/user/ingredente' + '/' + ${ingrediente.id}}"
			th:text="${ingrediente.nome}">ingrediente1</a>
	</li>
	</ul></div>
	<footer><a th:href="@{/user/home}">Home</a></footer>
</body>
</html>