<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	</head>
<body>
	<div>
		<h4>Dettagli buffet</h4>
	</div>
	<div>
		<span th:text="${buffet.nome}">buffet chef</span>
   	</div>
	<div>
		<span th:text="${buffet.descrizione}">descrizione buffet</span>
   	</div>
	<div th:if="${conditionChef}">
		<h4>Chef di questo buffet:</h4>
    <a th:href="'/admin/chef' + '/' + ${buffet.chef.id}" th:text="${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}">chef buffet</a>
   	</div>
	<div th:if="${conditionPiatti}">
	<h4>Piatti di questo buffet:</h4>
	<ul>
	<li th:each="piatto : ${buffet.piatti}">
		<a th:href="@{'/admin/piatto' + '/' + ${piatto.id}}"
			th:text="${piatto.nome}">piatto1</a>
	</li>
	</ul>
	</div>
	<footer><a th:href="@{/admin/home}">Home</a></footer>
</body>
</html>